{% extends "base.html" %}
{% block style_block %}
    <style type="text/css">
        table.table { width: 60%; }
    </style>
{% endblock %}

{% block content %}

    <h1 id="">All Routes</h1>
    <div>&nbsp;</div>
    <div class="container">
    <table class="table table-bordered table-striped" id="route_table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Start Date</th>
                <th>Operator Name</th>
                <th>Added by</th>
                <th>Added on</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            {% for route in routes %}
            {% set route_id = route.key.id() %}
            <tr>
                <td>{{ route_id }}</td>
                <td>{{ route.route_date_start }}</td>
                <td>{{ route.operator_name }}</td>
                <td>{{ route.added_by }}</td>
                <td class="nowrap">{{ route.timestamp.strftime('%b %d, %Y %I:%M %p') }}</td>
                <td>
                    <form method="get" action="{{ url_for('edit_route', route_id=route_id) }}">
                        <button class="btn">Edit</button>
                    </form>
                </td>
                <td>
                    <form method="get" action="{{ url_for('show_route', route_id=route_id) }}">
                        <button class="btn">View</button>
                    </form>
                </td>
                <td>
                    <form method="post" action="{{ url_for('delete_route', route_id=route_id) }}">
                        <button class="btn">Delete</button>
                    </form>
                </td>
            </tr>
            {% else %}
            <tr><td colspan="8">No routes yet</td></tr>
            {% endfor %}
        </tbody>
    </table>
    <p>
        <a class="btn btn-primary" onclick="show_modal()">
            <i class="icon-plus-sign icon-white"></i>
            New Route
        </a>
    </p>
    </div>



{% endblock content %}

{% block footer %}
    {% include 'new_route.html' %} {# pull in new_route form (modal dialog) #}
{% endblock footer %}

{% block tail_script %}
    {% if errors == 1 %}
        <script>window.onload = function() {
        	show_modal();
        };</script>
    {% endif %}
    {% if request.args.get('new') == 'yes' %}
        <script>window.onload = function() {
        	show_modal();
        };</script>
    {% endif %}
    <script>
    $(document).ready(function(){
        $('#route_table').DataTable({
        	"iDisplayLength": 10,
        	responsive: true
        });
    });
        $( function() {
            $( "#route_date_start" ).datepicker({
            	  dateFormat: "yy-mm-dd"
            });});
        $( function() {
            $( "#route_date_end" ).datepicker({
            	  dateFormat: "yy-mm-dd"
            });});
        function show_modal() {
        	changeToSelect();
            $('.modal').modal('show');
        }
        
        function changeToSelect() {
        	  var opPar = $('#operator_name').parent();
        	  $('#operator_name').remove();
        	  opPar.append('<select name="operator_name" id="operator_name" type="text" value="1" class="form-control" ></select>');
        	  $('#operator_name').append('<option value="Paculua" selected="selected">Paculua</option>');
        	  $('#operator_name').append('<option value="American">American</option>');
        	  $('#operator_name').append('<option value="Becker">Becker</option>');
        	  $('#operator_name').append('<option value="Bell">Bell</option>');
        	  $('#operator_name').append('<option value="CH Robin.">CH Robin.</option>');
        	  $('#operator_name').append('<option value="Comstock">Comstock</option>');
        	  $('#operator_name').append('<option value="Jackson">Jackson</option>');
        	  $('#operator_name').append('<option value="MJ Transp.">MJ Transp.</option>');
        	  $('#operator_name').append('<option value="Peninsula">Peninsula</option>');
        	  $('#operator_name').append('<option value="Pennys">Pennys</option>');
        	  $('#operator_name').append('<option value="Polo">Polo</option>');
        	  $('#operator_name').append('<option value="R & K">R & K</option>');
        	  $('#operator_name').append('<option value="Spiece">Spiece</option>');
        	  $('#operator_name').append('<option value="TJ Demarlo">TJ Demarlo</option>');
        	  $('#operator_name').append('<option value="Todd Smith">Todd Smith</option>');
        	  $('#operator_name').append('<option value="TQL">TQL</option>');

        	}
    </script>
{% endblock tail_script %}
